.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: white
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  
  margin: 0;
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.btn {
  background-color: #282c34;
  font-size: 1.5vh;
  border-radius: 25px;
  padding: 1vh 2vh;
  margin-bottom: 1vh;
  color: white
}

.acc {
  margin: auto;
  width: 40%;
  padding: 10px;
  margin-bottom: 3vh
}

.acc-item {
  padding: 10px;
}

.form {
  margin: 3vh 0;
  
}

.form-in {
  padding: 5vh;
  background-color: #282c34;
  margin-bottom: 4vh;
}

.form-label {
  padding-bottom: 1vh;
  color: white
}

.form-input {
  margin: 0 1vh 1vh 1vh;
}

.title {
  color: #282c34;
  font-size: 1.5vh
}