.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: white
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  padding: 20px;
  margin: 0;
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.donate-btn {
  background-color: #393f4a;
  font-size: 1.5vh;
  border-radius: 25px;
  padding: 1vh 2vh;
  margin-bottom: 1vh;
}

.acc {
  margin: auto;
  width: 40%;
  padding: 10px

}

.acc-item {
  padding: 10px;
}

.form {
  padding: 5vh;
  align-content: left;

}

.form-label {
  padding: 1vh;
  font-size: 3vh;
}

.form-input {
  margin: 0.5vh 1vh;
  padding: 1.5vh;

}